.ui.container.top {
  background-color: #136AD5;
}

.ui.borderless.top.menu {
  background-color: #136AD5;
  box-shadow: none;
  alignment: center;
  margin: none;
  border: none;
}

.ui.borderless.middle.menu {
  background-color: #4288DD;
  box-shadow: none;
  border: none;
  margin: none;
  padding: none;
}

.ui.column.grid {
  box-shadow: lightgray;
  border: thin;
  padding: none;
}

input[type="text"] {
  width: 700px;
}

.ui.list {
  box-shadow: lightgray;
  border-color: black;
}

ui.dropdown.item {
  padding-right: 100px;
}