.ui.container.top {
  background-color: #136AD5;
}

.ui.borderless.top.menu {
  background-color: #136AD5;
  box-shadow: none;
  alignment: center;
  padding: 0;
  margin: 0;
  border: none;
}

.ui.borderless.middle.menu {
  background-color: #4288DD;
  box-shadow: none;
  border: none;
  margin-top: 0;
  margin-bottom: 20px;
  padding: 0;
}

.ui.column.grid {
  box-shadow: gray;
  border: thin;
  padding: none;
  background-color: white;
}

input[type="text"] {
  width: 900px;
}

ui.dropdown.item {
  padding-right: 100px;
}

.ui.list {
  box-shadow: 1px 2px darkslategray;
  border: 1px;
  background-color: white;
}

.ui.social.button {
  width: 160px;
  margin-bottom: 10px;
}

.custom-background {

}